
.main_dyn{
    display: flex;
    justify-content: space-between;
}
.menu_main_right {
    width: 70%; /* Điều chỉnh độ rộng cho phần article */
    float: left;
}

.menu_menu_left {
    width: 30%; /* Điều chỉnh độ rộng cho phần aside */
    float: left;

}

.menu_menu_left ul li{
    list-style: none;
    padding: 10px;
}
.menu_menu_left ul li a{
    display: block;
    text-decoration: none;
  
}
.menu_menu_left li a:active{
    color: brown;
    font-size: large;
  
}

